---
layout: default
title: "Tags"
permalink: /tags/
---

<div class="tags">
  <div class="tags-header">
    <h2 class="tags-header-title">{{ page.title }}</h2>
    <div class="tags-header-line"></div>
  </div>
  <div class="tags-clouds">
    {% for tag in site.tags %}
    <a href="#{{ tag[0] }}">{{ tag[0] }}</a>
    {% endfor %}
  </div>
  {% for post in paginator.posts %}
    {% if post.tag == "Programmers" %}
      <a href="{{ post.url | prepend: site.baseurl }}" class="tags-item">
        <div>
          <time datetime="{{ post.date }}" class="tags-time">{{ post.date | date: "%B %d, %Y" }}</time>
          <h1 class="tags-title">{{ post.title }}</h1>
          <div class="tags-line"></div>
          <h3 class="tags-subtitle">{{ post.subtitle}}</h3>
        </div>
    </a>
    {% endif %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">이전 페이지 &#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow"> 다음 페이지 &#8594;</a>
  {% endif %}
  <span>{{ paginator.page }}</span>
</div>
