<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="{{ site.baseurl }}/">Posts</a></li>
      <li><a href="{{ '/tags' | prepend: site.baseurl }}">Tags</a></li>
      <li><a href="{{ '/git'' | prepend: site.baseurl }}">Git</a></li>
      <li><a href="{{ '/programmers'' | prepend: site.baseurl }}">코딩테스트</a></li>
      <li><a href="{{ '/web'' | prepend: site.baseurl }}">WEB</a></li>
      <li><a href="{{ '/RDB'' | prepend: site.baseurl }}">관계형데이터모델링</a></li>
      <li><a href="{{ '/sql'' | prepend: site.baseurl }}">SQL</a></li>
      <li><a href="{{ '/JPA'' | prepend: site.baseurl }}">JPA</a></li>
    </ul>
  </div>
</nav>
